@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/*==============
|| MOBILE FIRST
===============*/

/* || GENERAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #364242;
}

.wrapper {
    margin: 0 auto;
    margin-top: 2.2rem;
    max-width: 1312px;
}

/* || SITEWIDE */

/* NAVIGATION */

.header-nav {
    width: 100vw;
    max-width: 1312px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 6rem;
    z-index: 99;
}

.nav {
    height: 2rem;
    margin: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-family: 'Cardo', serif;
    font-weight: 700;
}

/* Nav Logo */

.nav__logo {
    margin-right: auto;
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
}

.nav__logo:link,
.nav__logo:visited {
    text-decoration: none;
    color: #4a5c5c;
}

.nav__logo:hover,
.nav__logo:active {
    color: inherit;
}

/* Nav Menu */

.nav__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    line-height: 2;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: relative;
    z-index: 1;
}

.nav--open .nav__menu {
    flex-shrink: 0;
    gap: 3rem;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.nav--open .nav__menu-link-1 {
    margin-top: 4rem;
}

.nav__menu-link:link,
.nav__menu-link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4a5c5c;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

.nav__menu-link:hover,
.nav__menu-link:active {
    color: inherit;
    border-top: 3px solid #9cc1c1;
    border-bottom: 3px solid #9cc1c1;
}

.nav__menu-link.nav__menu-link-form:hover,
.nav__menu-link.nav__menu-link-form:active {
    border-top: 3px solid #f5d282;
    border-bottom: 3px solid #f5d282;
}

.nav__menu-link--active {
    color: inherit;
    border-top: 3px solid #9cc1c1;
    border-bottom: 3px solid #9cc1c1;
}

.nav__menu-link--active:link,
.nav__menu-link--active:visited {
    border-top: 3px solid #9cc1c1;
    border-bottom: 3px solid #9cc1c1;
}

/* Nav Mobile Btn */

.nav__mobile-btn {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #4a5c5c;
}

.nav__mobile-btn:link,
.nav__mobile-btn:visited {
    color: #4a5c5c;
}

.nav__mobile-btn:hover,
.nav__mobile-btn:active {
    color: inherit;
}

.nav__mobile-btn-icon[name='close-outline'] {
    display: none;
}

.nav--open .nav__mobile-btn-icon[name='close-outline'] {
    display: block;
}

.nav--open .nav__mobile-btn-icon[name='menu-outline'] {
    display: none;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 2rem 1rem;
    border-top: 2px solid #9cc1c1;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    list-style-type: none;
}

.footer__social-link {
    color: #4a5c5c;
}

/*  || WEB PAGES */

/* GLOBAL HEADER */

.header-main {
    margin-top: 2.2rem;
    background-color: #9cc1c1;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}

.header-main__title {
    font-family: 'Cardo', serif;
    font-weight: 400;
    color: #252e2e;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 4px;
}

/*   GLOBAL SECTION */

.section {
    text-align: center;
    padding: 1rem 1rem;
    padding-top: 4rem;
}

.section__title {
    text-transform: uppercase;
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 1.65rem;
    margin-bottom: 4rem;
}

.section__items-container {
    max-width: 25.625rem;
    margin: 0 auto;
}

.section__img {
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__item {
    margin: 3rem 0;
    line-height: 1.6rem;
}

.section__item-title {
    padding: 0.8rem 0;
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* Section Form */

.section__form-container {
    margin: 4rem auto;
    margin-bottom: 5rem;
    min-width: 90%;
    border-radius: 9px;
    border: 1px solid #9cc1c1;
    background-color: #c8dede;
}

.section__form {
    padding: 2rem 0;
}

.section__form-title {
    padding: 2rem 0;
    text-transform: uppercase;
    color: inherit;
}

.section__form-input {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 9px;
    margin-bottom: 1.5rem;
    background-color: #f7f4ed;
}

.section__form-input::placeholder {
    font-family: inherit;
    background-color: #f7f4ed;
}

.section__form-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #9cc1c1;
}

.section__form-btn {
    display: inline-block;
    width: 80%;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 9px;
    background-color: #f5d282;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.section__form-btn:hover {
    background-color: #e8c470;
    color: #252e2e;
    box-shadow: 0 0 0 0.2rem #9cc1c1;
}

/* || HOME PAGE */

/* SECTION HERO */

.sec-hero {
    position: relative;
}

.sec-hero__img {
    background-image: url('../images/hero-image.jpg');
    height: 500px;
    margin-top: 6rem;
}

.sec-hero__text {
    text-align: center;
    display: inline-block;
    padding: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.501);
    font-family: 'Cardo', serif;
    font-weight: 700;
    color: inherit;
}

.sec-hero__line-break {
    border: 10px solid #9cc1c1;
}

/* SECTION JOURNEY  */

.sec-journey__btn:link,
.sec-journey__btn:visited {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 9px;
    background-color: #f5d282;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.sec-journey__btn:hover,
.sec-journey__btn:active {
    background-color: #e8c470;
    color: #252e2e;
    box-shadow: 0 0 0 0.1rem #9cc1c1;
}

.sec-journey__img {
    display: none;
    width: 200px;
    height: 200px;
}

/* SECTION INTENTION */

.sec-intention {
    background-color: #f7f4ed;
}

.sec-intention__item-img {
    height: 250px;
    width: 90%;
    border-radius: 4px;
    filter: contrast(90%);
}

.sec-intention__item-img-3 {
    width: 92%;
    filter: grayscale(100%) contrast(90%);
}

.sec-intention__item-sub-title {
    padding: 0.8rem 0;
    font-size: 1rem;
}

.sec-intention__item-text {
    text-align: left;
    padding: 0 20px;
}

/* SECTION COMMUNITY */

.sec-community {
    padding-bottom: 0rem;
}

/* Features */

.sec-community__features-icon {
    height: 1.2rem;
    width: 1.2rem;
    color: #252e2e;
    border-radius: 50%;
    background-color: #c8dede;
    margin: 1rem;
    padding: 1.4rem;
}

.sec-community__features-icon {
    margin-top: 3rem;
}

.sec-community__features-icon:first-child {
    margin-top: 0;
}

/* Newsletter */

.sec-community__newsletter-title {
    font-size: 1.2rem;
}

.sec-community__newsletter-sub-title {
    padding-bottom: 3rem;
    font-size: 1rem;
    color: inherit;
}

/* || CLASSES PAGE */

/* GLOBAL CLASSES */

.sec-classes__items-container {
    background-color: #f7f4ed;
    margin: 4rem auto;
    margin-bottom: 4.5rem;
    min-width: 90%;
    border-radius: 9px;
}

.sec-classes__items-container-1 {
    margin-bottom: 4rem;
}

.sec-classes__items-container-2 {
    margin-top: 4rem;
}

.sec-classes__items {
    padding: 4rem 0;
    line-height: 1.6rem;
}

.sec-classes__items-title {
    padding-bottom: 2rem;
    font-size: 1.3rem;
}

.sec-classes__items-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.sec-classes__item-container {
    width: 280px;
    height: 200px;
    border: 2px solid #9cc1c1;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.sec-classes__item-sub-title {
    padding: 0.8rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: inherit;
}

.sec-classes__item-text {
    font-weight: 500;
}

/* SECTION SCHEDULE */

.sec-schedule {
    padding-bottom: 0;
}

/* SECTION PRICES */

.sec-prices {
    background-color: #f7f4ed;
}

.sec-prices__trial-title {
    font-size: 1.2rem;
}

.sec-prices__plans-container {
    background-color: #fff;
    padding: 3rem auto;
}

.sec-prices__items {
    padding: 60px 0;
}

.sec-prices__items-container-inner {
    height: 780px;
}

.sec-prices__item-container {
    background-color: #f7f4ed;
    height: 370px;
}

.sec-prices__item-sub-title {
    font-size: 1.2rem;
    padding-bottom: 0;
}

.sec-prices__item-price {
    padding: 2.8rem 0;
    font-size: 1.5rem;
}

.sec-prices__item-price span {
    font-size: 1.2rem;
}

.sec-prices__item-btn {
    margin-top: 1rem 0;
    background-color: #f5d282;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9px;
    cursor: pointer;
}

.sec-prices__item-btn:hover {
    background-color: #e8c470;
    color: #252e2e;
    box-shadow: 0 0 0 0.1rem #9cc1c1;
}

/* SECTION PRACTICE */

.sec-practice__items-container {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.sec-practice__item {
    background-color: #f7f4ed;
    padding: 3rem;
    padding-left: 1.7rem;
    padding-right: 0rem;
    padding-bottom: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 9px;
}

.sec-practice__item-title {
    padding-bottom: 1.5rem;
}

.sec-practice__item-sub-title {
    padding: 0.8rem 0;
    font-size: 1rem;
}

.sec-practice__item-sub-title::before {
    content: '\2022';
    color: #9cc1c1;
    display: inline-block;
    font-size: 2rem;
    width: 1em;
    margin-left: -1.1em;
    transform: translateY(6px);
}

.sec-practice__item-text {
    text-align: left;
    padding: 0 20px;
}

.sec-practice__item-text {
    list-style: none;
}

.sec-practice__item-text li::before {
    content: '\2022';
    color: #9cc1c1;
    display: inline-block;
    font-size: 2rem;
    width: 1em;
    margin-left: -1.1em;
    transform: translateY(6px);
}

/* || CONTACT PAGE */

/* GLOBAL CONTACT */

.sec-contact__form-title {
    margin-bottom: 0rem;
    padding-top: 2rem;
    font-size: 1.85rem;
}

/* SECTION STUDIO */

.sec-studio {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
}

.sec-studio__container {
    background-color: #f7f4ed;
    display: flex;
    flex-direction: column;
    height: 1000px;
    border: 3px solid #9cc1c1;
}

.sec-studio__container>* {
    height: 50%;
}

.sec-studio__form {
    border-bottom: 1.5px solid #9cc1c1;
}

.sec-studio__items-1 {
    padding-bottom: 2rem;
}

.sec-studio__items-2 {
    padding-bottom: 2.5rem;
}

.sec-studio__sub-title {
    font-size: 1.4rem;
    padding-top: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
    text-align: left;
}

.sec-studio__text {
    line-height: 1.6rem;
    text-align: left;
    font-weight: 400;
    font-size: 1.1rem;
}

.sec-studio__item {
    display: flex;
    gap: 1.5rem;
    padding-left: 0.5rem;
}

.sec-studio__item-1 {
    padding-bottom: 0.8rem;
}

.sec-studio__icon {
    width: 1.4rem;
    height: 1.4rem;
    color: #9cc1c1;
}

.sec-studio__img {
    filter: grayscale(30%);
    border-top: 2px solid #9cc1c1;
}

/* SECTION QUESTIONS */

.sec-questions {
    padding-top: 0;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sec-questions__container {
    border: 3px solid #9cc1c1;
    margin-top: 0;
}

.sec-questions__img-title {
    display: none;
}

.sec-questions__sub-title {
    margin-bottom: 0rem;
    padding-top: 0rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.sec-questions__sub-title-minor {
    padding-bottom: 2rem 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
}

.sec-questions__form-input-1 {
    margin-top: 3rem;
}

/*======================== 
  || MEDIA QUERY BREAKPOINTS
  ==========================*/

@media only screen and (min-width: 350px) {
    /* || CONTACT PAGE */

    /* SECTION STUDIO */

    .sec-studio__sub-title,
    .sec-studio__item {
        padding-left: 5rem;
    }
}

@media only screen and (min-width: 650px) {
    /* || CLASSES PAGE */

    /* SECTION PRACTICE */

    .sec-practice__item {
        padding: 3rem;
        padding-left: 5rem;
        padding-bottom: 3.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}


@media only screen and (min-width: 750px) {
    /* || HOME PAGE */

    /* SECTION HERO */

    .sec-hero__img {
        height: 700px;
    }
}

@media only screen and (min-width: 850px) {
    /* || SITEWIDE */

    /* NAVIGATION */

    .nav {
        flex-direction: row;
        gap: 1.5rem;
        margin: 0 2.2rem;
    }

    .nav__menu {
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .nav__mobile-btn {
        display: none;
    }

    /* || CLASSES PAGE */

    /* SECTION GLOBAL CLASSES */

    .sec-classes__items-container-inner {
        flex-direction: row;
        height: 200px;
        width: 700px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .sec-classes__item-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    /* SECTION PRICES */

    .sec-prices__items {
        padding: 150px 0;
    }
}

@media only screen and (min-width: 1027px) {
    /* || WEB PAGES */

    /* GLOBAL HEADER */

    .header-main__title {
        font-size: 2.2rem;
    }

    /* GOBAL SECTION */

    .section__title {
        font-size: 1.85rem;
    }

    /* Section Form */

    .section__form-container {
        max-width: 1255px;
        margin-right: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        border: 6px solid #9cc1c1;
    }

    .section__form-container>* {
        width: 50%;
    }

    .section__form {
        border-left: 3px solid #9cc1c1;
    }

    /* || HOME PAGE */

    /* SECTION HERO */

    .sec-hero__img {
        height: 875px;
    }

    /* SECTION JOURNEY */

    .sec-journey__items-container {
        max-width: 1255px;
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        margin: 0 1rem;
        margin-top: 3rem;
    }

    .sec-journey__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 0;
    }

    .sec-journey__img {
        display: inline-block;
        filter: invert(20%) sepia(18%) saturate(439%) hue-rotate(131deg) brightness(94%) contrast(83%);
    }

    .sec-journey__arrow-icon-3 {
        transform: rotate(-90deg);
    }

    .sec-journey__arrow-icon-4 {
        transform: rotate(180deg);
    }

    .sec-journey__item-5 {
        order: -1;
    }

    /* SECTION INTENTION */

    .sec-intention__items-container {
        max-width: 600px;
    }

    .sec-intention__item-img {
        height: 350px;
    }

    .sec-intention__item-text {
        padding: 0 35px;
    }

    /* SECTION COMMUNITY */

    /* Features */

    .sec-community__features-container {
        max-width: 600px;
    }

    .sec-community__features-text {
        padding: 0 30px;
    }

    /* Newsletter */

    .sec-community__newsletter-img {
        background-image: url('../images/beach-yoga.jpg');
        width: 50%;
        border-right: 3px solid #9cc1c1;
    }

    .sec-community__newsletter-sub-title {
        padding-bottom: 3rem;
    }

    /* || CLASSES PAGE */

    /* SECTION GLOBAL CLASSES */

    .sec-classes__items-container-inner {
        width: 790px;
    }

    /* SECTION PRICES */

    .sec-prices__trial-img {
        background-image: url('../images/yoga-mat.jpg');
        filter: contrast(70%);
        width: 50%;
        border-right: 3px solid #9cc1c1;
    }

    /* || CONTACT PAGE */

    /* SECTION STUDIO */

    .sec-studio__container {
        background-color: #f7f4ed;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .sec-studio__container>* {
        height: 50%;
    }

    .sec-studio__form {
        border-left: none;
        border-right: 3px solid #9cc1c1;
    }

    .sec-studio__img {
        border-left: 3px solid #9cc1c1;
        height: 530px;
        border-top: none;
    }

    /* SECTION QUESTIONS */

    .sec-questions__container {
        position: relative;
    }

    .sec-questions__img-title {
        display: block;
        position: absolute;
        right: 5rem;
        top: 1.2rem;
        margin-bottom: 0;
        font-size: 20rem;
        font-weight: 100;
        color: #9cc1c1;
    }

    .sec-questions__img {
        background-image: url('../images/warrior-pose.jpg');
        width: 50%;
        border-right: 3px solid #9cc1c1;
        filter: contrast(90%);
        background-origin: border-box;
        background-position-x: 40%;
    }

}

@media only screen and (min-width: 1290px) {
    /* || HOMEPAGE */

    /* SECTION INTENTION */

    .sec-intention__title {
        margin-bottom: 2rem;
    }

    .sec-intention__items-container {
        max-width: 1255px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .sec-intention__item-container {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    .sec-intention__item-container>* {
        width: 50%;
    }

    .sec-intention__item-img {
        height: 265px;
        margin-top: 0.5rem;
    }
}