@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/*==============
|| MOBILE FIRST
===============*/

/* || GENERAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #364242;
}

.wrapper {
    margin: 0 auto;
    margin-top: 2.2rem;
    max-width: 1312px;
}

/* || SITEWIDE */

/* NAVIGATION */

.header-nav {
    width: 100vw;
    max-width: 1312px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 6rem;
    z-index: 99;
}

.nav {
    height: 2rem;
    margin: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-family: 'Cardo', serif;
    font-weight: 700;
}

/* Nav Logo */

.nav__logo {
    margin-right: auto;
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
}

.nav__logo:link,
.nav__logo:visited {
    text-decoration: none;
    color: #4a5c5c;
}

.nav__logo:hover,
.nav__logo:active {
    color: inherit;
}

/* Nav Menu */

.nav__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    line-height: 2;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: relative;
    z-index: 1;
}

.nav--open .nav__menu {
    flex-shrink: 0;
    gap: 3rem;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* Nav Menu  */

.nav__menu-link:link,
.nav__menu-link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4a5c5c;
}

.nav__menu-link:hover,
.nav__menu-link:active {
    color: inherit;
    border-top: 3px solid #9cc1c1;
    border-bottom: 3px solid #9cc1c1;
}

.nav__menu-link.nav__menu-link-form:link,
.nav__menu-link.nav__menu-link-form:visited {
    text-transform: capitalize;
}

.nav__menu-link.nav__menu-link-form:hover,
.nav__menu-link.nav__menu-link-form:active {
    border-top: 3px solid #f5d282;
    border-bottom: 3px solid #f5d282;
}

/* Nav Mobile Btn */

.nav__mobile-btn {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #4a5c5c;
}

.nav__mobile-btn:link,
.nav__mobile-btn:visited {
    color: #4a5c5c;
}

.nav__mobile-btn:hover,
.nav__mobile-btn:active {
    color: inherit;
}

.nav__mobile-btn-icon[name='close-outline'] {
    display: none;
}

.nav--open .nav__mobile-btn-icon[name='close-outline'] {
    display: block;
}

.nav--open .nav__mobile-btn-icon[name='menu-outline'] {
    display: none;
}


/*  || WEB PAGES */

/*   GLOBAL SECTION */

.section {
    text-align: center;
    padding: 4rem 1rem;
    padding-top: 6rem;
}

.section__title {
    text-transform: uppercase;
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 1.65rem;
    margin-bottom: 5rem;
}

.section__items-container {
    max-width: 25.625rem;
    margin: 0 auto;
}

.section__img {
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__item {
    margin: 3rem 0;
    line-height: 1.6rem;
}

.section__item-title {
    padding: 0.8rem 0;
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* || HOME PAGE */

/* SECTION HERO */

.sec-hero {
    position: relative;
}

.sec-hero__img {
    background-image: url('../images/hero-image.jpg');
    height: 500px;
    margin-top: 6rem;
}

.sec-hero__text {
    text-align: center;
    display: inline-block;
    padding: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.501);
    font-family: 'Cardo', serif;
    font-weight: 700;
    color: inherit;
}

.sec-hero__line-break {
    border: 10px solid #9cc1c1;
}

/* SECTION JOURNEY  */

.sec-journey__btn:link,
.sec-journey__btn:visited {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 9px;
    background-color: #f5d282;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.sec-journey__btn:hover,
.sec-journey__btn:active {
    background-color: #e8c470;
    color: #252e2e;
    box-shadow: 0 0 0 0.1rem #9cc1c1;
}

.sec-journey__img {
    display: none;
    width: 200px;
    height: 200px;
}


/*======================== 
  || MEDIA QUERY BREAKPOINTS
  ==========================*/

@media only screen and (min-width: 750px) {
    /* || HOME PAGE */

    /* SECTION HERO */

    .sec-hero__img {
        height: 700px;
    }
}

@media only screen and (min-width: 850px) {
    /* || SITEWIDE */

    /* NAVIGATION */

    .nav {
        flex-direction: row;
        gap: 1.5rem;
        margin: 0 2.2rem;
    }

    .nav__menu {
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .nav__mobile-btn {
        display: none;
    }

}

@media only screen and (min-width: 1027px) {
    /* || WEB PAGES */

    /* GOBAL SECTION */

    .section__title {
        font-size: 1.85rem;
    }

    /* || HOME PAGE */

    /* SECTION HERO */

    .sec-hero__img {
        height: 875px;
    }

    /* SECTION JOURNEY */

    .sec-journey__items-container {
        max-width: 1255px;
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        margin: 0 1rem;
        margin-top: 60px;
    }

    .sec-journey__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 0;
    }

    .sec-journey__img {
        display: inline-block;
        filter: invert(20%) sepia(18%) saturate(439%) hue-rotate(131deg) brightness(94%) contrast(83%);
    }

    .sec-journey__arrow-icon-3 {
        transform: rotate(-90deg);
    }

    .sec-journey__arrow-icon-4 {
        transform: rotate(180deg);
    }

    .sec-journey__item-5 {
        order: -1;
    }
}